@model Game
@{
    ViewData["Title"] = "Game Info";
}

<h2>@Model.name</h2>

<table class="table-condensed">
    <tr>
        <th>Date</th>
        <th>Publisher</th>
        <th>Region</th>
        <th>Platform</th>
    </tr>
    @foreach(var release in Model.Releases)
    {
        <tr>
            <td>@release.dates.ToString("MM/dd/yyyy")</td>
            <td>@release.Publisher</td>
            <td>@release.Region</td>
            <td>
                @foreach (var platform in release.Platforms)
                {
                    @(platform.Platform.name + ", ")
                }
            </td>
        </tr>
    }
</table>

<h4>Genres</h4>
<ul>
    @foreach(var genre in Model.Genres)
    {
        <li>@genre.Genre.name</li>
    }
</ul>