@model Game
@{
    ViewData["Title"] = "Game Info";
}

<h2>@Model.name</h2>

<p>
    @Model.comments
</p>

<table border="1">
    <tr>
        <th>Date</th>
        <th>Publisher</th>
        <th>Region</th>
        <th>Platform</th>
    </tr>
    @foreach(var release in Model.Releases)
    {
        <tr>
            <td>@release.dates</td>
            <td>@release.Publisher</td>
            <td>@release.Region</td>
            <td>@release.Platform</td>
        </tr>
    }
</table>